<div class="row pricing_row">
	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pricing_width">

		<!-- PRICE ITEM -->
		<div class="panel price panel-gold price_heading">
			<div class="panel-heading  text-center">
				<h3>GOLD PLAN</h3>
			</div>
			<div class="panel-body text-center">
				<p class="lead" style="font-size: 40px">
					<strong>$20 / month</strong>
				</p>
			</div>
			<ul class="list-group list-group-flush text-center">
				<li class="list-group-item">
					<i class="icon-ok text-gold"></i>
					Personal use
				</li>
				<li class="list-group-item">
					<i class="icon-ok text-gold"></i>
					Unlimited projects
				</li>
				<li class="list-group-item">
					<i class="icon-ok text-gold"></i>
					27/7 support
				</li>
			</ul>
			<div class="panel-footer">
				<input type="button" name="pricing-submit-gold" id="pricing-submit-gold"
				tabindex="4" class="form-control btn btn-login"
				value="Buy">
			</div>
		</div>
		<!-- /PRICE ITEM -->

	</div>

	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pricing_width">

		<!-- PRICE ITEM -->
		<div class="panel price panel-silver price_heading">
			<div class="panel-heading arrow_box text-center">
				<h3>SILVER PLAN</h3>
			</div>
			<div class="panel-body text-center">
				<p class="lead" style="font-size: 40px">
					<strong>$10 / month</strong>
				</p>
			</div>
			<ul class="list-group list-group-flush text-center">
				<li class="list-group-item">
					<i class="icon-ok text-silver"></i>
					Personal use
				</li>
				<li class="list-group-item">
					<i class="icon-ok text-silver"></i>
					Unlimited projects
				</li>
				<li class="list-group-item">
					<i class="icon-ok text-silver"></i>
					27/7 support
				</li>
			</ul>
			<div class="panel-footer">
				<input type="button" name="pricing-submit-silver" id="pricing-submit-silver"
				tabindex="4" class="form-control btn btn-login"
				value="Buy">
			</div>
		</div>
		<!-- /PRICE ITEM -->

	</div>

	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pricing_width">

		<!-- PRICE ITEM -->
		<div class="panel price panel-bronze price_heading">
			<div class="panel-heading arrow_box text-center">
				<h3>BRONZE PLAN</h3>
			</div>
			<div class="panel-body text-center">
				<p class="lead" style="font-size: 40px">
					<strong>$0 / month</strong>
				</p>
			</div>
			<ul class="list-group list-group-flush text-center">
				<li class="list-group-item">
					<i class="icon-ok text-bronze"></i>
					Personal use
				</li>
				<li class="list-group-item">
					<i class="icon-ok text-bronze"></i>
					Unlimited projects
				</li>
				<li class="list-group-item">
					<i class="icon-ok text-bronze"></i>
					27/7 support
				</li>
			</ul>
			<div class="panel-footer">
				<input type="button" name="pricing-submit-bronze" id="pricing-submit-bronze"
				tabindex="4" class="form-control btn btn-login"
				value="Buy">
			</div>
		</div>
		<!-- /PRICE ITEM -->
	</div>
</div>